# ─── Core ─────────────────────────────────────────────────────────────────────
# Kuchli kalit generatsiya qilish:
# python -c "import secrets; print(secrets.token_urlsafe(50))"
SECRET_KEY=REPLACE-WITH-STRONG-RANDOM-KEY

# Developmentda True, productionda False bo'lishi shart
DEBUG=True

# Productionda domeningizni kiriting
# ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com
ALLOWED_HOSTS=127.0.0.1,localhost

# ─── Til va Vaqt zonasi ───────────────────────────────────────────────────────
LANGUAGE_CODE=uz
TIME_ZONE=Asia/Tashkent
